<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>THIS is HomepAge</title>

	<head>

	<body>
		<section class="smartContactManager d-flex justify-content-center align-items-center">
			<div class="text-center">
				<h1 class="font-weight-bold">Smart Contact Manager</h1>
				<p> Start Collecting your contact in a very smarter way. We provide very efficient and smarter way of
					handling contacts.</p>
				<button class="btn-success btn-lg">Get Started</button>
			</div>
		</section>
	</body>

</html>